.Menu{
    width: 2rem;
    height: 5px;
    background-color: grey;
    margin: 3px 0;
  }


.mlp {
    display: flex;
    justify-content: center;
   
}

.tlc{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    
}


.mLogoSub {
    width: 90%;
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
}

.mb{
    height: 1rem;
}


.mobh{
    border-bottom: 2px solid #c4c4c4;
     box-shadow: 0px 3px 6px #0000001A;
}

.select{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: white;
    width: 100%;
}



.coms {
    border-bottom: 0.5px solid #abaaaa82;
    width: 70%;
    text-align: center;
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
}


.Mname{
    padding: 3px 0px;
    color: #673AB7;
  
}